<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATE USER</title>
</head>
<body>
    <form action="/chats" method="post" >
        <h2>WRITE YOUR COMMENT</h2>
        <input placeholder="Whats your Name" name="from" >
        <br><br>
        <textarea placeholder="enter your comment" name="message" ></textarea>
        <br><br>
        <input placeholder="WHom to send" name="to" >
        <br><br>
        <button>Submit</button>
    </form>
</body>
</html>